@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root{
	--main-color:#000000;
	--main-background-color:#FFFFFF;
}

body{
	background-color: #EAEDED;	
	font-family: "Open Sans", Georgia, serif;
}

header, footer{
	background-color: var(--main-background-color);
	color: var(--main-color);
}

section{
  	margin:0;
  	padding:0;
}

p {
    font-size: 15px;
    color: var(--main-color);
}

h1, h2, h3 {
    font-family: Roboto,sans-serif; 
    font-weight: bold;
    color: var(--main-color);
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 15px;
}

a {
	color:var(--main-color);
}

a:hover, a:hover > p, a:hover > h2, a:hover > h3 {
	color: #00000088;
	text-decoration: none;
	transition: all 0.2s ease-out;	
}

img {
	width:100%;		
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
 /* right: 0;*/
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
  transition: .5s ease;
}

.overlay-text{
	position:relative;
	box-sizing: border-box;
	width: 100%;
	height:100%;
	padding:5px;	
	background-color: #FFFFFF;
	border: solid #000000;
}

a:hover>.overlay {
  height: 30%;
}

.overlay-text>p {
    font-size: 12px;
}

.social-footer{
	background-color: var(--main-color);
	color:#FFFFFF;
	padding-bottom: 15px;
}

.img-scale-animate > img {
	width:100%;
	transition: all 1.5s ease-out;	
}

.img-scale-animate  > img:hover {
	transform: scale(1.05);
	transition: all 1.5s ease-out;	
}

.img-scale-animate {
    overflow: hidden;
}

.section-title{	
	color: var(--main-color);
	border-bottom: 2px solid;
}

.item-box{
  	margin:15px;
  	padding:1.5rem 2rem 0;
  	background-color: var(--main-background-color);
  	border-radius: 2px;
}

.item-box-footer{
  	margin:15px;
  	padding:1.5rem 2rem 0;
  	background-color: #000000;
  	border-radius: 2px;  	
}

.text-footer{
	color:#FFFFFF;
}

.section-title-footer{	
	color: #FFFFFF;
	border-bottom: 2px solid;
}

.section-title-side{
	color: #FFFFFF;
	border-bottom: 2px solid #000000;
}

.text-title-side{
	background-color: #000000;
	border-radius: 2px 2px 0 0;
	padding:3px 15px 1px;
}

.item-box-alert{
  	margin:15px;
  	padding:1rem 2rem;
  	background-color: var(--main-background-color);
  	border-radius: 2px;
}

.item-box-ad{
	margin:15px;
  	padding:0;
  	background-color: var(--main-background-color);
  	border-radius: 2px;
}

.item-box-side{
  	margin:15px;
  	padding:1.5rem 2rem 0.8rem;
  	background-color: #FFFFFF;
  	border-radius: 2px;  	
}

.item-box-comingsoon{
  	font-size:14px;
 }

 h2.item-box-comingsoon{
  	display:inline;
  	font-size:17px;
  	margin-right: 15px;
 }

.row, .col, .col-md-8, .col-12{
	margin:0;
  	padding:0;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.cell{
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1.5rem;
}

.cell-podcast{
    margin-bottom: 1.5rem;
}

.cell-stayconnected{
	padding: 5px 0px;
	font-size: 23px;
	text-align: center;
}

.cell-supportus{
	margin-bottom: 0;
	padding: 0;
}

.nav-img {
    height:4rem;
    width:5.5rem;
}

.audio-link{
	max-width: 156px;
}

.paypal-link{
	max-width: 232px;
}

.patreon-link{
	max-width: 262px;
}

.date-article {
	font-size:13px;
}

.date-article-top {
	font-size:13px;
	display:inline;
}

.filters{
	display:block;
	text-align: center;
	padding-left: 0;
}

.filter{
	display:inline-block;
	margin:5px 1% 0;
	padding:0 2%;
	cursor: pointer;
	border: solid #000000;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

.filter:hover:not(.filter-active){
	border: solid #777777;
	color: #777777;
	transition: all 0.2s ease-in-out;
}

.filter-active{
	border: solid #000000;
	color: #FFFFFF;
	background-color: #000000;
	cursor: default;
	transition: all 0.2s ease-in-out;
}

.nav-up, .nav-down {
	height: 40px;
	width: 100%;
	text-align: center;
	background-color: #000000;
    position: fixed;
	bottom: -40px;
	transition: bottom 0.2s ease-in-out;
}

.nav-up {
    bottom: 0;
}

.nav-down {
	bottom: -40px;
}

#footer {
	font-size: 30px;

}

.arrow {
	color: #FFFFFF;
}

.padding-bottom{
	/*margin-bottom: 50px;*/
}

.footer-link, .footer-link:hover, .side-link, .side-link:hover{
	display:inline-block;
	box-sizing: border-box;
	transition: background-color 0.5s ease;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 5px;
}

.footer-link, .support-link{	
	background-color: #000000;
	color: #FFFFFF;

}

.footer-link:hover, .support-link:hover{
	background-color: #FFFFFF;
	color: #000000;
}

.footer-link>i, .side-link>i{
	padding-top: 2px;
	vertical-align: middle;
}

.support-link, .support-link:hover, .support-link-side, .support-link-side:hover{
	display:inline-block;
	box-sizing: border-box;
	transition: background-color 0.5s ease;
	width: 5rem;
	height: 5rem;
	border-radius: 5px;
}

.support-link>i, .support-link-side>i{
	padding: 11px;
	vertical-align: middle;
}

.support-link-side, .side-link{
	background-color: #FFFFFF;
	color:#000000;
}

.support-link-side:hover, .side-link:hover{
	background-color: #000000;
	color:#FFFFFF;
}

.support-icon{
	font-size: 60px;
}

.disable{
	display:none;
}

.img-responsive-vertical{
	padding: 30px;
}

.error {
    border: 1px solid #FF0000 !important;
}

#errorMessage {
                
    color: #FF0000;
     font-size: 90% !important;
                
}
            
#successMessage {                
    color: #008000;
    font-size: 90% !important;
    display:none;
    margin-bottom:20px;
}

iframe{
	width:100%;
}


@media screen and (max-width: 768px){
	.overlay {
  		height: 30%;
  		transition: none;
	}

	.overlay-text>p {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px){
	.nav-img {
	    height:5rem;
	    width:7rem;
	}
}



@media screen and (max-width: 992px){
	.img-responsive-vertical{
		display:none;
	}

	.img-responsive-horizontal{
		display:inline-block;
	}

	.overlay {
  		height: 30%;
  		transition: none;
	}

	.overlay-text{
		border: solid #000000;
	}

	.item-box-side{
  		display:none; 	
	}

	.full-logo, .full-logo>img{
		display:none;
	}

	.mini-logo, .mini-logo>img{
		display:inline-block;
	}
}

@media screen and (min-width: 992px){
	.img-responsive-vertical{
		display:inline-block;
	}

	.img-responsive-horizontal{
		display:none;
	}

	a:hover>.overlay {
  		height: 40%;
	}

	.full-logo, .full-logo>img {
		display:inline-block;
	}

	.mini-logo, .mini-logo>img{
		display:none;
	}
}


@media screen and (min-width: 1200px){
	a:hover>.overlay {
  		height: 30%;
	}

	.overlay-text>p {
		font-size: 14px;
	}
}





